<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

</head>

<body>

    <h1>error </h1>
    <a href="/templates/register" class="btn btn-primary">BACK</a>
    <% if (errors) { %>
        <% errors.forEach(error=> { %>

            <p class="text-danger shadow p-3 mb-5 bg-body rounded fs-3"> Error: <%- error.msg %>
            </p> <i class='bx bxs-error-alt bx bxs-error-alt bx-md'></i>
         
            <% }) %>
                <% } %>

</body>

</html>